@model IEnumerable<Project>

<div class="container slide-in-left">
    <h4 class="text-start mt-5">PROJECTS ACCOMPLISHMENT LIST</h4>
    <div class="row pb-3">
        @foreach (var project in Model)
        {
            <div class="col-lg-3 col-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card fixed-card border-0 p-3 shadow border-top border-5 rounded">
                            @if (project.ProjectImages != null && project.ProjectImages.Count > 0)
                            {
                                <div id="carouselExampleIndicators" class="carousel  slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        @foreach (var imageWithIndex in
                                       project.ProjectImages.Select((image, index) => new { Image = image, Index = index }))
                                        {
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@imageWithIndex.Index"
                                                    class="@(imageWithIndex.Index==0?"active":"")" aria-current="true" aria-label="Slide 1"></button>
                                        }
                                    </div>
                                    <div class="carousel-inner">
                                        @foreach (var imageWithIndex in
                                       project.ProjectImages.Select((image, index) => new { Image = image, Index = index }))
                                        {
                                            <div class="@(imageWithIndex.Index==0?"carousel-item active":"carousel-item")">
                                                <img src="@imageWithIndex.Image.ImageUrl" class="d-block w-100" alt="...">
                                            </div>
                                        }
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            }
                            <div class="card-body pb-0">
                                <h5 class="card-title text-center">@project.Title</h5>
                                <p class="card-description h6 text-dark text-muted opacity-75" style="text-align: justify; width:auto;">@project.Description</p>
                                <p class="card-text text-warning text-center pt-3"><b>@project.Category.Name</b></p>
                            </div>
                            <div class="d-inline-flex gap-2">
                                <a href="@project.YoutubeLink" class="btn btn-danger bg-gradient border-0 form-control">
                                    <i class="fab fa-youtube"></i> WATCH
                                </a>
                                <a href="@project.WebsiteLink" class="btn btn-success bg-gradient border-0 form-control" target="_blank">
                                    PREVIEW
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>